@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Italiana&family=Marcellus&family=Ms+Madi&family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar * {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #fd0f0f;
}
::-webkit-scrollbar-thumb:hover {
  background: #f70101 !important;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Marcellus", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.primay-font {
  font-family: "Della Respira", sans-serif;
}
